/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

#video{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:970px;
  height:560px;
}

#stats{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
}

#logo{
  margin: 0 auto;
  margin-bottom: 20px;
  width:300px;
}

#card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width:600px;
}
