<!--<img id = "stats" src="../assets/stats.jpg" alt="">-->
<table>
  <tr>
  <td><h2>Temps moyen entre 2 pénuries d'eau : </h2></td>
  <td><h2 id="waterStat"></h2></td>
  </tr>
  <tr>
  <td><h2>Temps moyen entre 2 pénuries de nourriture : </h2></td>
  <td><h2 id="foodStat"></h2></td>
  </tr>
  </table><br>
<button id="return" mat-raised-button color="primary" (click)="displayYearlyBirdsStats()">Afficher les stats annuelles</button>
<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
