.example-card {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  width: 350px;
}

.email-card {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  width: 350px;
}

.p-center {
  display:flex;
  justify-content: center;
  align-items: center;
}

.settings {
  display: flex;
  justify-content: center;
}
