
<!--<div id ="center" style="position:fixed;top:50%;left:50%;">
<div id="loading">
    <h2>LOADING...</h2>
    <mat-progress-spinner
        color="primary"
        mode="indeterminate">
    </mat-progress-spinner>
</div>
</div>
<iframe id="video" src="http://192.168.43.14:8080" frameBorder="0" scrolling="no"></iframe>-->


<div id ="center" style="position:fixed;top:50%;left:50%;">
<div id="loading">
    <h2>LOADING...</h2>
    <mat-progress-spinner
        color="primary"
        mode="indeterminate">
    </mat-progress-spinner>
</div>
</div>
<body>
    <img id="image">
    <button type="button" id="stop" (click)="stop()">Stop</button>
    <button type="button" id="start" (click)="start()">Start</button>
    <div id="pause" style="color:green">En live</div>
</body>

<!--<video id="video" width = "640" controls autoplay></video>-->
