<div class="row">
  <nb-card id="card" class="example-card">
    <nb-card-body>
      <br><br>
      <h2>PFE de polytech Nice-Sophia 2019</h2>
      <p>
        La croissance du marché des objets connectés met clairement en évidence l’intérêt,
        aussi bien du grand public que des industriels, pour les objets de tous les jours améliorés avec des
        technologies
        du numérique qui transforment leur usage.
        <br><br>S’inscrivant pleinement dans les domaines de l’IoT,
        ce projet a pour but de développer une cabane à oiseaux connectée qui pourra à terme servir de “centre de
        contrôle” pour d’éventuels objets additionnels.
      </p>
    </nb-card-body>
  </nb-card>
</div>