.example-card {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  //width: 200px;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.title {
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.control-status-example {
  color: nb-theme(color-basic-100);
}
