<nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="loading">
  <nb-card-header class="control-status-example">
    Loading Albums
  </nb-card-header>
</nb-card>

<div class="pictures" *ngIf="!albumdetail">
  <nb-card *ngFor="let album of thumbnails">
    <img [src]="displayImage(album.photos[0].value)" width="200px" height="150px" (click)="openAlbum(album)"
      class="thumbnail">
    <nb-card-body class="example-card">
      <p>{{album.name}}</p>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="albumdetail">

  <div class='title'>
    <nb-actions size="large">
      <nb-action class="control-item" icon="arrow-back-outline" *ngIf="albumdetail" (click)="goBack()"></nb-action>
    </nb-actions>
    <h1>{{albumName}}</h1>
    <nb-actions size="large">
      <nb-action class="control-item" icon="download-outline" *ngIf="albumdetail" (click)="download()"></nb-action>
    </nb-actions>
  </div>


  <div class="pictures">
    <nb-card *ngFor="let picture of pictures">
      <img [src]="displayImage(picture.value)" width="200px" height="150px" class="thumbnail">
      <nb-checkbox (checkedChange)="check(picture)"></nb-checkbox>
    </nb-card>
  </div>

</div>