<nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="loading">
  <nb-card-header class="control-status-example">
    Loading Albums
  </nb-card-header>
</nb-card>

<div class="pictures" *ngIf="!albumdetail">
  <nb-card *ngFor="let album of thumbnails">
    <img *ngIf="!videoCheck(album.thumbnail)" [src]="displayImage(album.thumbnail)" width="200px" height="150px"
      (click)="openAlbum(album)" class="thumbnail">
    <video *ngIf="videoCheck(album.thumbnail)" controls muted="muted" autoplay width="200px" height="150px">
      <source [src]="getVideoPathInServer(album.thumbnail)" type="video/mp4">
    </video>
    <nb-card-body class="example-card">
      <p>{{album.album.name}}</p>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="albumdetail">

  <div class='title'>
    <nb-actions size="medium">
      <nb-action class="control-item" icon="arrow-back-outline" *ngIf="albumdetail" (click)="goBack()"></nb-action>
    </nb-actions>
    <h1>{{albumName}}</h1>
    <nb-actions size="medium">
      <nb-action class="control-item" icon="download-outline" *ngIf="albumdetail" (click)="download()"></nb-action>
    </nb-actions>
    <nb-actions size="medium">
      <nb-action class="control-item" icon="checkmark-square-outline" *ngIf="albumdetail" (click)="selectAll()">
      </nb-action>
    </nb-actions>
    <nb-actions size="medium">
      <nb-action class="control-item" icon="square-outline" *ngIf="albumdetail" (click)="unSelectAll()"></nb-action>
    </nb-actions>

    <nb-actions size="medium">
      <nb-action class="control-item" icon="trash-outline" *ngIf="albumdetail" (click)="remove()">
      </nb-action>
    </nb-actions>
  </div>

  <div class='album'>
    <nb-select [(selected)]="selectedItem" [(ngModel)]="selectedItem">
      <nb-select-label>
        {{ selectedItem }}
      </nb-select-label>
      <nb-option *ngFor="let album of thumbnails" [value]="album.album.name">{{album.album.name}}
      </nb-option>
      <nb-option value="Custom">Custom</nb-option>
    </nb-select>

    <input *ngIf="selectedItem == 'Custom'" [(ngModel)]="customName" type="text" nbInput class="searchbar" status="info"
      placeholder="Album..." style="margin-left: 30px;">
    <nb-actions size="medium">
      <nb-action class="control-item" icon="paper-plane-outline" *ngIf="albumdetail" (click)="move()">
      </nb-action>
    </nb-actions>

  </div>


  <div class="pictures">
    <nb-card *ngFor="let picture of pictures">
      <img *ngIf="!videoCheck(picture.img)" [src]="displayImage(picture.img)" width="200px" height="150px"
        class="thumbnail">
      <video *ngIf="videoCheck(picture.img)" controls muted="muted" autoplay width="200px" height="150px">
        <source [src]="getVideoPathInServer(picture.img)" type="video/mp4">
      </video>
      <nb-checkbox [(checked)]="picture.checked"></nb-checkbox>
    </nb-card>
  </div>

</div>